Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-pro-type-member-init,
  modernize-*,
  performance-*,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-simplify-boolean-expr
WarningsAsErrors: ''
HeaderFilterRegex: '.*(src|include|tools/MapEditor).*'
FormatStyle: file
