# Самолёт - быстрый hover-тип, высокая скорость
name=Штурмовик ИЛ-42
max_speed=16.0
acceleration=4.0
deceleration=1.5
turn_speed=1.0
collision_radius=0.7
drive_type=hover
texture=sprite.png
sound_engine=propeller.wav
