# Вертолёт - hover-тип, свободное парение над картой
name=Вертолёт КА-17
max_speed=9.0
acceleration=3.5
deceleration=2.5
turn_speed=2.0
collision_radius=0.6
drive_type=hover
texture=sprite.png
sound_engine=rotor.wav
